body {
  font-family: "Rubik", sans-serif !important;
  overflow-x: hidden !important;
  box-sizing: border-box;
  background-color: rgb(0, 0, 0); }

.color-acento{ color:rgb(17, 35, 197); }

.carousel-inner {
  height: 550px; }

  .carousel-inner img {
    height: 550px;
    object-fit: cover;
    object-position: 50% 50%; }

#containerCards {
  font-family: 'Kanit', sans-serif;
}

.card-body{
  background-color:rgb(0, 0, 0);
}

#h5cards{
  color: rgb(255, 255, 255);
}

#iconmont {
  width: 50px;
  height: 50px; }

  #containerConq {
  background-color: white;
  

  }

#navbarNav{
  font-family: 'Kanit', sans-serif;
}

nav li a {
  padding-left: 12px !important;
  padding-right: 12px !important; }

  nav li a:hover {
    font-size: 18px;
    font-weight: 600; }

    #caracteristicas .container{
      text-align: center;
      padding: 250px 12px;
  }
  
  #caracteristicas li{
      margin: 16px 0px;
      font-weight: bold;
  }

  #h1 {
      color:  white;
      font-family: 'Kanit', sans-serif;
      font-weight: 300;
      font-size: 45px;
  }

#containerCar {
  margin-bottom: 50px;
}

  #h2 {
    font-family: 'Kanit', sans-serif;
    color: white;
  }
  
  #final{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: rgb(30,30,30);
      color: white;
      height: 80vh;
  }
  
  #final h2{
      font-size: 9vw;
  }
  
  #final button{
      font-size: 5vw;
  }



label {
  font-weight: 600; }

#carrouselCard {
  height: 300px;
}

  #carrouselCard img {
    height: 550px;
    background-position: center center;
    background-size: cover;
  }

#cardEx {
  height: 600px;
  object-fit: cover;
  object-position: 50% 50%; 
  font-family: 'Kanit', sans-serif;
}

#bodyCard {
  font-family: 'Kanit', sans-serif;
}

#h4 {
  width: 90%;
  text-align: center;
  align-items: center;
  margin-left: 5%; }

#h5 {
  width: 90%;
  text-align: center;
  align-items: center;
  margin-left: 5%; 
  color: white;
  font-family: 'Kanit', sans-serif;
}

#card {
  transition: all 0.5s; }

  #card .card-title {
    font-weight: 600; }

  #card:hover {
    transform: scale(1.05);
    z-index: 1; }

.card-header {
  font-size: 18px;
  text-align: center;
  font-weight: 600; }

#ubiTitle {
  font-weight: 600; }

#h2Contact {
  font-size: 22px !important;
  color: white;
  font-family: 'Kanit', sans-serif;
}

.slide-in-blurred-right {
  animation: slide-in-blurred-right 1s cubic-bezier(0.23, 1, 0.32, 1) both; }

@-webkit-keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

@keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

@media (max-width: 1024px) {
  [data-aos='fade-up'] {
    transform: none !important; }
  [data-aos='fade-right'] {
    transform: none !important; }
  [data-aos='fade-left'] {
    transform: none !important; }
  .slide-in-blurred-right {
    animation: none !important; } }

/*--MEDIAQUERIES P--*/
@media (min-width: 1023px) {
  .carousel-inner {
    height: 80vh; }

  .carousel-inner img {
    height: 80vh;
    object-fit: cover;
    object-position: 50% 50%; }
  
  #h2 {
    padding-top: 50px !important;
    padding-bottom: 100px !important;
    font-family: 'Kanit', sans-serif;
  }

  #h22 {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
    color: white;
    font-family: 'Kanit', sans-serif;
  }

  #h2ex {
    padding-top: 100px !important;
    color: white;
    font-family: 'Kanit', sans-serif;
  }

  #h4 {
    width: 70%;
    text-align: center;
    align-items: center;
    margin-left: 15%;
    padding-bottom: 100px; 
    color: white; 
    font-family: 'Kanit', sans-serif;
  }

  #iframe {
    height: 630px !important; }

  #iframe iframe {
    height: 600px !important; }

  #bodyCardNos p {
    padding: 50px;
    font-family: 'Kanit', sans-serif;
    color: white;
  }

  #bodyCardNos h5 {
    margin-top: 43px; 
    font-family: 'Kanit', sans-serif;
    color: white;
    
  }

  #iconsFt {
    margin-top: 0 !important; } }

.texto {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: fit-content;
  font-family: 'Kanit', sans-serif;
  }

  #somos-proya h2{
      margin-top: 0px;
  }


.texto h3  {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 20%;
  font-size: 1;
  text-align: right;
  margin-right: 80px;
  font-family: 'Kanit', sans-serif;
}
  
.texto p  {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 30%;
  font-size: 1;
  text-align: center;
  font-family: 'Kanit', sans-serif;
}

#contact {
  color: white;
  font-family: 'Kanit', sans-serif;
}

#containerMail{
  font-family: 'Kanit', sans-serif;
  background-color: rgb(219, 219, 219);
}

#buttonEnv {
  background-color: black;
  color: white;
  border-color: black;
  margin-bottom: 10px;
}